name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions: { }

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        java-version: [ 17, 21, 25 ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Set up GraalVM
        uses: graalvm/setup-graalvm@dec5790292b7b36d7ad368abe856887749c6c520 # v1.4.3
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'graalvm'
          cache: 'maven'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests
        run: ./mvnw --no-transfer-progress --batch-mode verify
