name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions: { }

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        java-version: [ 17, 21, 25 ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set up GraalVM
        uses: graalvm/setup-graalvm@54b4f5a65c1a84b2fdfdc2078fe43df32819e4b1 # v1.4.5
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'graalvm'
          cache: 'maven'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests
        run: ./mvnw --no-transfer-progress --batch-mode verify
