name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions: { }

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        java-version: [ 17, 21, 25 ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Set up GraalVM
        uses: graalvm/setup-graalvm@eec48106e0bf45f2976c2ff0c3e22395cced8243 # v1.4.2
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'graalvm'
          cache: 'maven'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run tests
        run: ./mvnw --no-transfer-progress --batch-mode verify
